@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes mainipActiveHover {
  100% {
    pointer-events: auto;
  }
}

html {
  font-size: 62.5%; /* 65.5% => 1 rem = 10px */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0px 10%;
  z-index: 10;
  background: #f26a24;
  height: 12rem;
}

header img {
  width: 22rem;
  height: auto;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin-left: 35px;
  color: #000000;
}

header ul li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  z-index: 2;
}

header ul li a:hover,
header ul li a.active {
  color: #ffffff;
  font-weight: 600;
}

#menu-icon,
#menu-close {
  display: none;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-image {
  width: 50%;
  height: 100vh;
}

.home-image img {
  width: 100%;
  height: auto;
  margin-top: 15rem;
}

.contato {
  padding: 20px 10%;
  margin-bottom: 50px;
}

.contato h1 {
  position: relative;
  font-size: 5.6rem;
  color: #f26a24;
}

.contato-box a {
  text-decoration: none;
}

.contato h1 {
  text-align: center;
  margin-top: 150px;
}

.contato p {
  text-align: center;
  margin-top: -20px;
}

.contato-container {
  padding: 20px 10%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.contato-box {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 30rem;
  height: 20rem;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e8e8e8;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}

.contato-box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: #e8e8e8;
  margin: -20px;
  z-index: -1;
  transition: 0.5s;
}

.contato-box:hover::before {
  width: 100%;
}

.contato-box h3 {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #f26a24;
}

.contato-box p {
  text-align: start;
  font-size: 1.4rem;
  color: #8c8c8c;
  font-weight: 400;
}

.contato-box i {
  font-size: 4.5rem;
  color: #f26a24;
}

.contato-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.txt-location {
  text-align: center;
  font-size: 1.6rem;
  color: #000000;
}

.home-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.home-content h1 {
  position: relative;
  font-size: 5.6rem;
  color: #f26a24;
  font-weight: 700;
  line-height: 1.1;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2rem 0 4rem;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 24.5rem;
  height: 5rem;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 245px;
  height: 54px;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  background: #f26a24;
  border: 2px solid #f26a24;
  border-radius: 8px;
  font-size: 1.9rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a:hover {
  color: #f26a24;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  margin-top: 6rem;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f26a24;
  border-radius: 50%;
  font-size: 2rem;
  color: #f26a24;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #ffffff;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f26a24;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 2rem;
  width: 94rem;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: mainipActiveHover 0.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: #ffffff;
  opacity: 0.8;
}

.home-imgHover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.Quem {
  padding: 0 10%;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.quem-content {
  width: 50%;
  padding: 20px;
}

.quem-image {
  width: 50%;
  text-align: center;
  border-radius: 40px;
  overflow: hidden;
  margin-left: 40px;
}

.quem-image img {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.quem-content p {
  color: #000000;
  text-align: justify;
  font-size: 1.6rem;
}

.quem-content h1 {
  color: #f26a24;
  font-size: 5.6rem;
}

.area-de-atuacao {
  background-color: #f26a24;
  text-align: center;
  padding: 20px;
}

.area-de-atuacao h1 {
  font-size: 5.6rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.item-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
}

.item-block .item {
  width: 20rem;
  text-align: center;
}

.item-block .item img {
  width: 10rem;
  height: auto;
  margin-bottom: 1rem;
}

.item-block .item p {
  font-size: 1.6rem;
  color: #000000;
}

.project {
  padding: 2rem 20%;
}

.project h1 {
  font-size: 5.6rem;
  color: #f26a24;
  text-align: center;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.port {
  flex-basis: calc((33.33% - 20px));
  margin: 10px;
}

.port img {
  width: 100%;
  height: auto;
}

footer {
  padding: 2rem 10%;
  background: #f26a24;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
  border-bottom: 0.2rem solid #ffffff;
}

.symbol a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.symbol a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #000000;
  z-index: -1;
  transition: 0.5s;
}

.symbol a:hover {
  color: #f26a24;
  border: 2px solid;
}

.symbol a:hover::before {
  width: 100%;
}

.symbol a:nth-child(1) {
  margin-right: 24px;
}

.footer-align {
  display: flex;
  width: 100%;
}

.left-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  border-right: 2px solid #ffffff;
}

.left-footer img {
  width: 18rem;
  height: auto;
}

.left-footer h3 {
  font-size: 3.2rem;
}

.teste {
  display: flex;
  align-items: center;
}

.teste2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teste2 a,
.location a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.teste2 p {
  margin-right: 1.5rem;
}

.teste p,
.location p {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.location {
  display: flex;
  align-items: first baseline;
}

.right-footer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-footer ul li {
  margin-bottom: 2rem;
}

.right-footer ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.right-footer ul li a:hover {
  color: #000;
  font-weight: 700;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 10%;
}

.footer-text p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 40px;
}

.footer-text a {
  text-decoration: underline;
  color: inherit;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: #ffffff;
  border: 0.3rem solid #f26a24;
  border-radius: 1.5rem;
  color: #f26a24;
  overflow: hidden;
  z-index: 1;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #000000;
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 1.6rem;
}

@media (max-width: 1500px) {
  html {
    font-size: 40%;
  }

  .home-image img {
    margin-top: 30rem;
  }

  .home-imgHover {
    width: 110rem;
  }

  .home-sci {
    bottom: 30rem;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 30%;
  }

  .home-imgHover {
    width: 105rem;
  }

  .home-sci {
    bottom: 25rem;
  }
}

@media (max-width: 770px) {
  .quem-content h1 {
    color: #f26a24;
    font-size: 4.8rem;
  }

  .home-imgHover {
    width: 80rem;
  }

  .port {
    flex-basis: calc((45% - 20px));
    margin: 10px;
  }

  .item-block {
    flex-wrap: wrap;
  }

  .item-block .item {
    flex-basis: calc((45% - 20px));
    margin: 20px;
  }

  .contato h1 {
    text-align: center;
    margin-top: 80px;
  }

  .contato-container {
    padding: 20px 5%;
  }

  .contato-box {
    margin-right: 2rem;
    height: 32rem;
  }

  .contato-box p {
    font-size: 1.6rem;
  }

  .contato p {
    font-size: 2.4rem;
  }

  .contato-map {
    width: 120rem;
    height: 80rem;
    border-radius: 5rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  }

  .contato-container {
    margin-bottom: 0px;
  }

  .txt-location {
    font-size: 2rem;
  }
}

@media (max-width: 426px) {
  nav {
    display: none;
  }

  header {
    padding: 0 10%;
  }

  header img {
    width: 17rem;
  }

  header.on .header-img {
    display: none;
  }

  #menu-icon {
    display: block;
    font-size: 9rem;
    color: #ffffff;
    transition: 0.5s;
  }

  header.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f26a24;
    padding: 0;

    z-index: 100;
  }

  header.on nav {
    display: block;
    margin: auto;
  }

  header.on nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4.8rem;
    padding: 0;
  }

  header.on nav ul li {
    margin-bottom: 6rem;
  }

  header.on nav ul li a {
    margin: 0;
  }

  header.on #menu-icon {
    display: none;
  }

  header.on #menu-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 11rem;
    color: #ffffff;
  }

  .home {
    flex-direction: column;
    margin-top: 15rem;
  }

  .home-content {
    max-width: 100%;
    text-align: center;
  }
  .home-content {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content h1 {
    font-size: 6.2rem;
  }

  .home-content h3 {
    font-size: 2.4rem;
  }

  .home-content .btn-box {
    display: inline-flex;
    font-size: 2.4rem;
    width: 30rem;
    height: 7rem;
  }

  .btn-box a {
    font-size: 2.4rem;
  }

  .home-sci {
    bottom: 50rem;
  }

  .home-sci a {
    font-size: 4rem;
  }

  .home-image {
    width: 100%;
    height: auto;
    padding: -5rem 0;
  }

  .home-image img {
    margin-top: 3rem;
  }

  .home-imgHover {
    position: absolute;
    top: 0;
    right: 2rem;
    width: 94rem;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: mainipActiveHover 0.1s forwards;
    animation-delay: 1s;
    pointer-events: none;
  }

  .home-sci::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    z-index: 2;
  }

  .home-content .btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 245px;
    height: 54px;
    background: #ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    z-index: 2;
  }

  .home-content h3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }

  .home-content h1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }

  .home-imgHover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
    z-index: 2;
  }

  .Quem {
    flex-direction: column;
  }

  .quem-content {
    width: 100%;
  }

  .quem-content h1 {
    font-size: 6.2rem;
  }

  .quem-content p {
    font-size: 2.4rem;
  }

  .quem-image {
    width: 100%;
    margin-left: 0;
    margin-bottom: 4.4rem;
    border-radius: 1rem;
  }

  .quem-image img {
    border-radius: 1rem;
  }

  .item-block .item {
    flex-basis: calc((70% - 20px));
    margin: 18px;
  }
  .item-block .item img {
    width: 15rem;
  }

  .item-block .item p {
    font-size: 2.4rem;
  }

  .project h1 {
    font-size: 6.2rem;
  }
  .port {
    flex-basis: 100%;
  }

  .symbol {
    margin: auto;
    width: 50%;
  }

  .symbol a {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
  }

  .footer-align {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-footer {
    border-right: none;
  }

  .left-footer img {
    width: 20rem;
  }

  .teste {
    flex-direction: column;
  }

  .teste p,
  .location p {
    font-size: 2rem;
    color: #000000;
  }

  .teste2 p {
    font-size: 2rem;
    color: #000000;
  }

  .teste2 a,
  .location a {
    font-size: 3rem;
    margin-right: 1rem;
  }

  .right-footer {
    display: none;
  }

  .footer-bottom {
    font-size: 3.6rem;
  }

  .footer-text p {
    margin-right: 0;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .footer-iconTop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-iconTop a i {
    font-size: 2.6rem;
  }

  .contato h1 {
    margin-top: 15rem;
    font-size: 6.2rem;
  }

  .contato p {
    font-size: 2.4rem;
  }

  .contato-container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .contato-box {
    margin-bottom: 4rem;
  }

  .contato-box p {
    font-size: 2rem;
  }

  .contato-box h3 {
    font-size: 2.4rem;
  }

  .txt-location {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  .txt-location h3 {
    margin-top: 0;
  }

  .contato-map {
    width: 70rem;
    height: 70rem;
  }

  .footer-text {
    text-align: center;
  }
}

@media (max-width: 380px) {
  header {
    padding: 0 10%;
  }
  .home-content {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    text-align: center;
  }
}
